EL7-aarch64/*
EL7-x86_64/*
FHOS-aarch64/*
FHOS-x86_64/*
tmp/*
*container.lck
__pycache__
*.py[cod]
container/var/www/cobbler/images/.link_cache/
container/var/lib/tftpboot/images/.link_cache/*
container/var/log/cobbler/*
container/tmp/*
container/var/cache/*
container/var/log/httpd/*
container/var/log/cobbler/*
container/var/log/*
!container/var/log
!container/var/log/httpd
!container/var/log/cobbler
container/var/lib/dhcpd/dhcpd.leases~
container/var/lib/dhcpd/dhcpd.leases
etc/container/etc/cobbler/settings.d/tsc.settings
container/etc/shadow
!.gitignore
