EL7-aarch64/*
EL7-x86_64/*
FHOS-aarch64/*
FHOS-x86_64/*
!EL7-aarch64
!EL7-x86_64
!FHOS-aarch64
!FHOS-x86_64
tmp/*
container/*
.#container.lck
__pycache__
*.py[cod]
container/var/www/cobbler/images/.link_cache/
container/var/lib/tftpboot/images/.link_cache/*
etc/container/etc/cobbler/settings.d/tsc.settings
!.gitignore
